In [1]:
# Dependencies and Setup
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime
from pprint import pprint

In [7]:
#pull data from csv files
#flights
CharlotteFlights_Data = pd.read_csv("Resources/CharlotteChart.csv")
LAXFlights_Data = pd.read_csv("Resources/LAXchart.csv")
LittleRockchart_Data = pd.read_csv("Resources/LittleRockchart.csv")
CommericalFlights_Data = pd.read_csv("Resources/number-of-commercial-fli.csv")
TotalFlights_Data = pd.read_csv("Resources/total-number-of-flights.csv")
#covid-19
AllStatesHistorical_Data = pd.read_csv("Resources/HistoricalStateData.csv")

In [9]:
#merging flight data
merge_df=pd.merge(CharlotteFlights_Data,LAXFlights_Data,on="DateTime")
merge_df

,DateTime,Scheduled flights_x,Tracked flights_x,Scheduled flights_y,Tracked flights_y
0,3/21/20,770,678,887,672
1,3/22/20,794,680,887,672
2,3/23/20,802,537,887,672
3,3/24/20,791,447,887,672
4,3/25/20,774,362,887,672
5,3/26/20,790,400,887,672
6,3/27/20,789,361,887,672
7,3/28/20,748,349,887,672
8,3/29/20,784,366,887,672
9,3/30/20,787,340,887,672
10,3/31/20,772,326,887,672
11,4/1/20,758,376,887,672
12,4/2/20,772,370,887,672
13,4/3/20,776,458,887,672
14,4/4/20,738,360,887,672
15,4/5/20,762,370,887,672
16,4/6/20,757,381,887,672
17,4/7/20,696,311,887,672
18,4/8/20,677,316,887,672
19,4/9/20,687,339,887,672
20,4/10/20,673,344,887,672
21,4/11/20,626,298,887,672
22,4/12/20,651,317,887,672
23,4/13/20,598,359,887,672
24,4/14/20,598,337,887,672
25,4/15/20,622,311,887,672
26,4/16/20,636,286,887,672
27,4/17/20,647,307,887,672
28,4/18/20,568,249,887,672
29,4/19/20,583,267,887,672

In [10]:
merge_df1=pd.merge(merge_df,LittleRockchart_Data,on="DateTime")
merge_df1.head()

,DateTime,Scheduled flights_x,Tracked flights_x,Scheduled flights_y,Tracked flights_y,Scheduled flights,Tracked flights
0,3/21/20,770,678,887,672,58,46
1,3/22/20,794,680,887,672,49,34
2,3/23/20,802,537,887,672,53,35
3,3/24/20,791,447,887,672,58,37
4,3/25/20,774,362,887,672,56,38

In [11]:
merge_df1.rename(columns={"Scheduled flights_x" : "Charlotte Scheduled Flights","Tracked flights_x":"Charlotte Tracked Flights","Scheduled flights_y":"LA Scheduled Flights","Tracked flights_y":"LA Tracked Flights","Scheduled flights" :"Arkansas_Scheduled flights", "Tracked flights":"Arkansas Tracked Flights"})

,DateTime,Charlotte Scheduled Flights,Charlotte Tracked Flights,LA Scheduled Flights,LA Tracked Flights,Arkansas_Scheduled flights,Arkansas Tracked Flights
0,3/21/20,770,678,887,672,58,46
1,3/22/20,794,680,887,672,49,34
2,3/23/20,802,537,887,672,53,35
3,3/24/20,791,447,887,672,58,37
4,3/25/20,774,362,887,672,56,38
5,3/26/20,790,400,887,672,58,34
6,3/27/20,789,361,887,672,59,33
7,3/28/20,748,349,887,672,44,25
8,3/29/20,784,366,887,672,45,19
9,3/30/20,787,340,887,672,54,24
10,3/31/20,772,326,887,672,58,31
11,4/1/20,758,376,887,672,55,32
12,4/2/20,772,370,887,672,59,37
13,4/3/20,776,458,887,672,51,31
14,4/4/20,738,360,887,672,41,25
15,4/5/20,762,370,887,672,41,25
16,4/6/20,757,381,887,672,44,25
17,4/7/20,696,311,887,672,40,25
18,4/8/20,677,316,887,672,47,30
19,4/9/20,687,339,887,672,45,24
20,4/10/20,673,344,887,672,38,25
21,4/11/20,626,298,887,672,32,19
22,4/12/20,651,317,887,672,27,12
23,4/13/20,598,359,887,672,38,22
24,4/14/20,598,337,887,672,39,25
25,4/15/20,622,311,887,672,36,23
26,4/16/20,636,286,887,672,43,32
27,4/17/20,647,307,887,672,44,28
28,4/18/20,568,249,887,672,32,19
29,4/19/20,583,267,887,672,31,18