# Dependencies and Setup
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime
from pprint import pprint

In [1]:
# Dependencies and Setup
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime
from pprint import pprint

In [2]:
#pull data from csv files
CharlotteFlights_Data = pd.read_csv("Resources/CharlotteChart.csv")
LAXFlights_Data = pd.read_csv("Resources/LAXchart.csv")
LittleRockchart_Data = pd.read_csv("Resources/LittleRockchart.csv")
CommericalFlights_Data = pd.read_csv("Resources/number-of-commercial-fli.csv")
TotalFlights_Data = pd.read_csv("Resources/total-number-of-flights.csv")

AllStatesHistorical_Data = pd.read_csv("Resources/HistoricalStateData.csv")

In [9]:
merge_df=pd.merge(CharlotteFlights_Data,LAXFlights_Data,on="DateTime")
merge_df.head()

,DateTime,Scheduled flights_x,Tracked flights_x,Scheduled flights_y,Tracked flights_y
0,2020-03-21,770,678,887,672
1,2020-03-22,794,680,844,620
2,2020-03-23,802,537,883,589
3,2020-03-24,791,447,882,566
4,2020-03-25,774,362,865,539

In [11]:
merge_df1=pd.merge(merge_df,LittleRockchart_Data,on="DateTime")
merge_df1.head()

,DateTime,Scheduled flights_x,Tracked flights_x,Scheduled flights_y,Tracked flights_y,Scheduled flights,Tracked flights
0,2020-03-21,770,678,887,672,58,46
1,2020-03-22,794,680,844,620,49,34
2,2020-03-23,802,537,883,589,53,35
3,2020-03-24,791,447,882,566,58,37
4,2020-03-25,774,362,865,539,56,38

In [14]:
merge_df1.rename(columns={"Scheduled flights_x" : "Charlotte Scheduled Flights","Tracked flights_x":"Charlotte Tracked Flights","Scheduled flights_y":"LA Scheduled Flights","Tracked flights_y":"LA Tracked Flights","Scheduled flights" :"Arkansas_Scheduled flights", "Tracked flights":"Arkansas Tracked Flights"})

,DateTime,Charlotte Scheduled Flights,Charlotte Tracked Flights,LA Scheduled Flights,LA Tracked Flights,Arkansas_Scheduled flights,Arkansas Tracked Flights
0,2020-03-21,770,678,887,672,58,46
1,2020-03-22,794,680,844,620,49,34
2,2020-03-23,802,537,883,589,53,35
3,2020-03-24,791,447,882,566,58,37
4,2020-03-25,774,362,865,539,56,38
5,2020-03-26,790,400,863,520,58,34
6,2020-03-27,789,361,875,461,59,33
7,2020-03-28,748,349,885,470,44,25
8,2020-03-29,784,366,851,451,45,19
9,2020-03-30,787,340,866,431,54,24
10,2020-03-31,772,326,864,441,58,31
11,2020-04-01,758,376,809,422,55,32
12,2020-04-02,772,370,814,368,59,37
13,2020-04-03,776,458,762,348,51,31
14,2020-04-04,738,360,729,340,41,25
15,2020-04-05,762,370,704,339,41,25
16,2020-04-06,757,381,644,324,44,25
17,2020-04-07,696,311,592,314,40,25
18,2020-04-08,677,316,564,259,47,30
19,2020-04-09,687,339,568,249,45,24
20,2020-04-10,673,344,539,248,38,25
21,2020-04-11,626,298,460,223,32,19
22,2020-04-12,651,317,463,214,27,12
23,2020-04-13,598,359,434,225,38,22
24,2020-04-14,598,337,437,236,39,25
25,2020-04-15,622,311,450,225,36,23
26,2020-04-16,636,286,447,229,43,32
27,2020-04-17,647,307,421,229,44,28
28,2020-04-18,568,249,366,220,32,19
29,2020-04-19,583,267,336,202,31,18